Laborator1/.vs
Laborator1/.idea
Laborator1/Laborator1/bin
Laborator1/Laborator1/obj
Laborator2/.vs
Laborator2/.idea
Laborator2/.idea
Laborator2/Calculator/bin
Laborator2/Calculator/obj
Laborator3/.vs
Laborator3/Design/obj
Laborator3/Design/bin
Laborator3/Main/bin
Laborator3/Main/obj
Laborator3/packages
Laborator4/.idea
Laborator4/.vs
Laborator4/ClassLibraryNetCore/bin
Laborator4/ConsoleApp1/bin
Laborator4/ClassLibraryNetCore/obj
Laborator4/ConsoleApp1/obj
Laborator5/.idea
Laborator5/.vs
Laborator5/packages
Laborator5/ModelSelfReferences/bin
Laborator5/ModelSelfReferences/obj